doctype html
html
  head
    title Zain Dance Academy
    block scripts
    block style
  body
        nav#navbar
            ul
                div#logo
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzqWJ1GAByGebgqhRtlcOsC_5SK_TcqqUtug&usqp=CAU", alt="")
                    | DJ CLUB
                li #[a(href = '/') Home]
                li #[a(href = '/contact') Contact Us]
                li #[a(href = '/about') About]
                li #[a(href = '/services') Services]
                li #[a(href = '/') Class info]
        block content
        footer#footer
         | CopyRight 2022 | All Rights Reserved for DanceAcadmy.com.


//- yaha hum template inheritance use krna sekhaingy eska faida ye hta ha k hum jesy chahty hein k nav bar or footer website k har page pr show hobas drmyaan ka content dfrnt ho to ye hum tem inheritance ki help se krskty hein
